{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "consistent-return": "off",
    "curly": "error",
    "eqeqeq": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "key-spacing": ["error", {
      "beforeColon": false,
      "afterColon": true
    }],
    "max-len": ["error", 80, 4],
    "newline-after-var": ["error", "always"],
    "no-console": "off",
    "no-multiple-empty-lines": "error",
    "no-throw-literal": "error",
    "no-underscore-dangle": "off",
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "none"
    }],
    "no-use-before-define": ["error", "nofunc"],
    "object-curly-spacing": ["error", "always"],
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single"],
    "radix": "error",
    "keyword-spacing": "error",
    "space-before-blocks": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "space-unary-ops": ["error", {
      "words": true,
      "nonwords": false
    }],
    "strict": ["error", "global"],
    "wrap-iife": ["error", "inside"]
  }
}
